<div class="container">
　<div class="row">
 <div class="col-md-6">

<h1>配送先登録/一覧</h1>


  <%= render 'layouts/error_messages', model: @shipping_address %>
  <table class="table" id="none-border">
<tbody>
  <%= form_for @shipping_address, url:  customers_customer_shipping_addresses_path(@customer) do |f| %>
  <tr>
    <td class="field"class:'control-label'>
      <%= f.label :郵便番号（ハイフンなし） %>
      <%= f.text_field :shipping_postal_code, autofocus: true, autocomplete:"", placeholder:"郵便番号", class: "form-control" %>
    </td>
  </tr>
    <tr>
    <td class="field">
      <%= f.label :住所 %>
      <%= f.text_field :shipping_address, autofocus: true, autocomplete:"", placeholder:"住所", class: "form-control" %>
    </td>
  </tr>
 <tr>
    <td class="field">
      <%= f.label :宛名 %>
      <%= f.text_field :shipping_name, autofocus: true, autocomplete:"", placeholder:"宛名", class: "form-control" %>
    </td>
  </tr>
<tr>
     <td class="actions">
     <%= f.submit "登録する", class: "btn btn-success btn-lg col-lg-offset-10"%>
     </td>
     <tr>
     <% end %>
     <tbody>
   </table>

   </div>
 </div>

<div class="row">
<div class="col-md-12">
  <table class="table table-bordered">
    <thead>
    <tr>
      <td>郵便番号</td>
      <td>住所</td>
      <td>宛名</td>
      <td></td>
      <td></td>
    </tr>
  </thead>

    <tbody>
      <% @shipping_addresses.each do |shipping| %>
      <tr>
        <td><%= shipping.shipping_postal_code%></td>
        <td><%=shipping.shipping_address%></td>
        <td><%=shipping.shipping_name%></td>
        <td><%= link_to "Edit",edit_customers_customer_shipping_address_path(shipping.customer_id,shipping.id), class: "btn-sm btn-success edit_book_#{shipping.id}" %></td>
        <td><%= link_to "Destroy",customers_customer_shipping_address_path(shipping.customer_id,shipping.id), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_book_#{shipping.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>




