<h2>登録情報編集</h2>

<%= form_for(@customer,url: edit_customers_customer_path(@customer)) do |f| %>

  <div class="field">
    <%= f.label :姓 %>
    <%= f.text_field :family_name, autofocus: true, autocomplete:"", placeholder:"姓" %>
  </div>
  <div class="field">
    <%= f.label :名 %>
    <%= f.text_field :first_name, autofocus: true, autocomplete:"", placeholder:"名" %>
  </div>

  <div class="field">
    <%= f.label :姓（カナ） %>
    <%= f.text_field :family_name_kana, autofocus: true, autocomplete:"", placeholder:"姓（カナ）" %>
  </div>

  <div class="field">
    <%= f.label :名（カナ） %>
    <%= f.text_field :first_name_kana, autofocus: true, autocomplete:"", placeholder:"名（カナ）" %>
  </div>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete:"", placeholder:"メールアドレス" %>
  </div>

  <div class="field">
    <%= f.label :郵便番号 %><br />
    <%= f.text_field :postal_code, autofocus: true, autocomplete:"", placeholder:"郵便番号" %>
  </div>

  <div class="field">
    <%= f.label :住所 %><br />
    <%= f.text_field :address, autofocus: true, autocomplete:"", placeholder:"住所" %>
  </div>

  <div class="field">
    <%= f.label :電話番号 %><br />
    <%= f.text_field :telephone_number, autofocus: true, autocomplete:"",placeholder: "電話番号" %>
  </div>

  <div class="actions">
    <%= f.submit "編集内容を保存する" %>
  </div>
<% end %>





<%= link_to "退会する", delete_customers_customer_path(@customer.id) %>