<div class="container">
	<div class="row">
		<h2>ショッピングカート</h2>
		<div class="text-right">
			<%= link_to  "カートを空にする",customers_customer_alldestroy_path(@customer.id) ,method: :delete, class: "btn btn-danger" %>
		</div><br>

		<table class="table">
			<thead>
				<tr>
					<th>商品名</th>
					<th>単価(税込)</th>
					<th>数量</th>
					<th>小計</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				<% @unit_price = 0 %>
				<% @add_price = 0 %>
				<% @subtotal = 0 %>
					<% @carts.each do |cart| %>
						<%= form_for [@customer, cart],url: customers_customer_cart_path(@customer, cart),method: :patch do |f| %>

						<tr>
							<!-- 商品名 -->
							<td><%= cart.product.product_name %></td>
							<!-- 単価(税込) -->
							<% @unit_price = (cart.product.unit_price * 1.1).floor%>
							<td><%= @unit_price.to_s(:delimited)%>円</td>

							<!-- 数量 -->
							<td><%= f.number_field :number, :value => cart.number %>
							<%= f.submit "変更", class: "btn btn-primary",data: {:turbolinks => "false"} %></td>
							<!-- 小計 -->
							<% @subtotal = ((cart.product.unit_price * cart.number * 1.1).floor) %>
							<td><%= @subtotal.to_s(:delimited) %>円</td>
							<% @add_price = @add_price + @subtotal %>
							<!-- 削除ボタン -->
							<td><%= link_to "削除する", customers_customer_cart_path(@customer,cart), method: :delete, class: "btn btn-danger" %></td>
						</tr>
					<% end %>
				<% end %>
				<tr>
					<td><%= link_to "買い物を続ける",products_path, class: "btn btn-success" %></td>
					<!-- 合計金額 -->
					<td></td>
					<td></td>
					<td>合計金額</td>
					<td><%= @add_price.to_s(:delimited) %>円</td>
				</tr>
			</tbody>
		</div>
	</div>
</div>
