<div class="container">
  <div class="row">
    <div class="col-6">

      <h1>会員編集画面</h1>
      <br>

      <%= form_for(@customer,url: admins_customer_path(@customer)) do |f| %>
      <table class="table" id="customer">
        <tbody>
          <tr>
            <td><%= f.label :氏名 %></td>
            <td><%= f.text_field :family_name%>
            <%= f.text_field :first_name%></td>
          </tr>

          <tr>
            <td><%= f.label :フリガナ %></td>
            <td><%= f.text_field :family_name_kana%>
            <%= f.text_field :first_name_kana%></td>
          </tr>

          <tr>
            <td><%= f.label :郵便番号 %></td>
            <td><%= f.text_field :postal_code%></td>
          </tr>

          <tr>
            <td><%= f.label :住所 %></td>
            <td><%= f.text_field :address%></td>
          </tr>


          <tr>
            <td><%= f.label :電話番号 %></td>
            <td><%= f.text_field :telephone_number%></td>
          </tr>

          <tr>
            <td><%= f.label :メールアドレス %></td>
            <td><%= f.email_field :email%></td>
          </tr>

          <tr>
            <td><%= f.radio_button :is_acctive, :true %>
            <%= f.label :有効 %></td>
            <td><%= f.radio_button :is_acctive, :false %>
            <%= f.label :退会済み %></td>
          </tr>

          <tr>
            <td><%= f.submit "変更を保存する",class: "btn btn-primary"%></td>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>
