<div class="container">
	<div class="row">
		<div class="col-lg-6">
			<h1>会員詳細画面</h1>
			<table class="table" id="none-border">
				<tr>
					<td>顧客ID</td>
					<td><%= @customer.id %>
						<% if @customer.is_acctive == true %>
						<td class="is_active bg-primary text-center">有効会員</td>
						<% else %>
						<td class="is_active bg-danger text-center">無効会員</td>
						<% end %>
					</td>
				</tr>

				<tr>
					<td>氏名</td>
					<td><%= @customer.family_name%><%= @customer.first_name%></td>
				</tr>

				<tr>
					<td>カナ</td>
					<td><%= @customer.family_name_kana%><%= @customer.first_name_kana%></td>
				</tr>
				<tr>
					<td>郵便番号</td>
					<td><%= @customer.postal_code%></td>
				</tr>
				<tr>
					<td>住所</td>
					<td><%= @customer.address%></td>
				</tr>
				<tr>
					<td>電話番号</td>
					<td><%= @customer.telephone_number%></td>
				</tr>
				<tr>
					<td>メールアドレス</td>
					<td><%= @customer.email%></td>
				</tr>
			</table>
			<%=link_to "編集する", edit_admins_customer_path(@customer.id),class: "btn btn-primary"%>
			<%=link_to "注文履歴一覧を見る", new_customer_session_path,class: "btn btn-primary" %>
		</div>
	</div>
</div>



