<div class="container">
	<div class="row">
		<h2>注文確認画面</h2>
		<div class="col-xs-8">
			<table class="table">
				<thead>
					<tr>
						<th>商品名</th>
						<th>単価(税込)</th>
						<th>数量</th>
						<th>小計</th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					<% @add_price = 0 %>
					<% @unit_price = 0 %>
					<% @subtotal = 0 %>
						<% @carts.each do |cart| %>
							<tr>
							<!-- 商品名 -->
								<td><%= cart.product.product_name %></td>
							<!-- 単価(税込) -->
								<% @unit_price = (cart.product.unit_price * 1.1).floor%>
								<td><%= @unit_price.to_s(:delimited)%>円</td>

								<td><%= cart.number %></td>
							<!-- 小計 -->
								<% @subtotal = ((@unit_price * cart.number).floor) %>
								<td><%= @subtotal.to_s(:delimited)%>円</td>
								<% @add_price = @add_price + @subtotal %>
							<!-- 削除ボタン -->
							</tr>
						<% end %>
				</tbody>
			</table>
			<h4><strong>支払い方法:</strong><%= @order_detail.payment_method %></h4>
			<br>
			<h4><strong>配送先住所:</strong><%= @order_detail.shipping_postal_code%><%=@order_detail.shipping_address%></h4>
			<br>
			<h4><strong>配送先名前:</strong><%= @order_detail.shipping_name %></h4>
<!-- 注文処理 -->
				<div class="field">
				<%= form_with model: @order_detail, url: customers_customer_order_details_path(@customer),data: {remote: false} do |f| %>
					<%= f.hidden_field :subtotal, value: @subtotal %>
					<%= f.hidden_field :total_fee, value: @total_fee %>
					<%= f.hidden_field :number, value: @number %>
					<%= f.hidden_field :purchase_price, value: @total_fee %>
					<%end%>
				</div>

			<%=link_to "注文を確定する",complete_customers_customer_order_detail_path(current_customer.id,@order_detail.id), class: "btn btn-success"%>

		</div>

		<div class="col-xs-4">
			<table class="table">
				<tr>
					<td>送料</td>
					<td><%= @order_detail.shipping_fee %>円</td>
				</tr>

				<tr>
					<td>商品合計</td>
					<td><%= @add_price.to_s(:delimited)%>円</td>
				</tr>

				<tr>
					<td>請求金額</td>
					<% price = @add_price + @order_detail.shipping_fee %>
					<td><%= price.to_s(:delimited) %>円</td>
				</tr>
			</table>
		</div>
	</div>
</div>


