<div class="container">
	<div class="row">
		<h2>注文確認画面</h2>
		<div class="col-xs-8">
			<table class="table">
				<thead>
					<tr>
						<th>商品名</th>
						<th>単価(税込)</th>
						<th>数量</th>
						<th>小計</th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					<% @add_price = 0 %>
					<% @unit_price = 0 %>
					<% @subtotal = 0 %>
						<% @carts.each do |cart| %>
							<tr>
							<!-- 商品名 -->
								<td><%= cart.product.product_name %></td>
							<!-- 単価(税込) -->
								<% @unit_price = (cart.product.unit_price * 1.1).floor%>
								<td><%= @unit_price.to_s(:delimited)%>円</td>

								<td><%= cart.number %></td>
							<!-- 小計 -->
								<% @subtotal = ((@unit_price * cart.number).floor) %>
								<td><%= @subtotal.to_s(:delimited)%>円</td>
								<% @add_price = @add_price + @subtotal %>
							<!-- 削除ボタン -->
							</tr>
						<% end %>
				</tbody>
			</table>
			<strong>支払い方法:</strong><%= @order_detail.payment_method %>
			<br>
			<strong>住所:</strong><%= @order_detail.shipping_postal_code%><%=@order_detail.shipping_address%>
			<br>
			<strong>名前:</strong><%= @order_detail.shipping_name %>

			<%=link_to "注文を確定する",complete_customers_customer_order_detail_path(current_customer.id,@order_detail.id),class: "btn btn-success"%>

		</div>

		<div class="col-xs-4">
			<table class="table">
				<tr>
					<td>送料</td>
					<td><%= @add_price.to_s(:delimited) %>円</td>
				</tr>

				<tr>
					<td>商品合計</td>
					<td><%= @add_price.to_s(:delimited)%>円</td>
				</tr>

				<tr>
					<td>請求金額</td>
					<td><%= @add_price.to_s(:delimited)%>円</td>
				</tr>
			</table>
		</div>
	</div>
</div>

