<h2>注文情報入力</h2>

	<h3>支払方法</h3>
		<%= form_with model: @order_detail, url: customers_customer_order_details_path(@customer),data: {remote: false} do |f| %>
			<%= f.hidden_field :customer_id %>

			<div class= "form-group">
				<%= f.radio_button :payment_method, :credit %><!-- ラジオボタンの使い方は合っているか？ -->
				<%= f.label :payment_method, "クレジットカード" %>
			</div>
			<div class= "form-group">
				<%= f.radio_button :payment_method, :bank_transfer %>
				<%= f.label :payment_method, "銀行振込" %>
			</div>

	<h3>お届け先</h3><br>
			<div class= "form-group">
				<%= f.label "ご自身の住所" %><br>
				<%= radio_button_tag( 'select_address' , 'ご自身の住所' ) %>
				<span>〒<%= current_customer.postal_code + current_customer.address + current_customer.family_name + current_customer.first_name %></span>
			</div>

			<div class= "form-group">
				<%= radio_button_tag( 'select_address' , '登録済み住所から選択' ) %>
				<%= f.label :shipping_addresses, "登録済みの住所から選択" %><br>
				<%= collection_select(:detail,:shipping_address_id, ShippingAddress.all,:full_address,:id) %>
				<!-- 偽装モデル(:detail)を作成して、(shipping_address_id)を代入 -->
			</div>

			<div class= "form-group">
				<%= radio_button_tag( 'select_address' , '新しいお届け先' ) %><!-- dbのテーブル名で良いか？またこのフォームで入力したものが登録されるか？ -->
				<%= f.label :shipping_addresses, "新しいお届け先" %>
					<div class="field">
						<%= f.label :郵便番号（ハイフンなし） %>
						<%= f.text_field :shipping_postal_code %>
						<%= text_field_tag 'customers_customer_shipping_addresses[shipping_postal_code]' %>
					</div>
					<div class="field">
						<%= f.label :住所 %>
						<%= f.text_field :shipping_address %>
						 <%= text_field_tag 'customers_customer_shipping_addresses[shipping_address]' %>
					</div>
					<div class="field">
						<%= f.label :宛名 %>
						<%= f.text_field :shipping_name %>
						<%= text_field_tag 'customers_customer_shipping_addresses[shipping_name]' %>
					</div>

			</div>
					<%= f.submit "確認画面に進む", class: "btn btn-primary" %>
					<% end %>
 </div>
