<div class="container">
  <div class="row">
    <div class="col-md-5 col-md-offset-3">
    <h1></h1>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <table class="table" id="none-border">
        <tbody>
          <tr>
            <td><%= f.label :メールアドレス %></td>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %></td>
          </tr>
          <tr>
            <td><%= f.label :パスワード %></td>
            <td><%= f.password_field :password, autocomplete: "current-password", class: "form-control" %></td>
          </tr>
          <tr>
            <% if devise_mapping.rememberable? %>
              <td><%= f.check_box :remember_me %>
              <%= f.label :remember_me %></td>
            <% end %>
            <td><%= render "admins/shared/links" %></td>
          </tr>
          <tr>
            <td><%= f.submit "ログイン", class: "btn btn-primary btn-lg col-lg-offset-12" %></td>
          </tr>
       </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>