<div class="container">
  <div class="row">
    <div class="col-md-5 col-md-offset-3">
    <h1></h1>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <table class="table" id="none-border">
        <tbody>
          <tr>
            <td><%= f.label :メールアドレス %></td>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          </tr>
          <tr>
            <td><%= f.label :パスワード %></td>
            <td><%= f.password_field :password, autocomplete: "current-password" %></td>
          </tr>

          <% if devise_mapping.rememberable? %>
            <tr>
              <td><%= f.check_box :remember_me %></td>
              <td><%= f.label :remember_me %></td>
            </tr>
            <tr>
              <td><%= f.submit "ログイン", class: "btn btn-primary btn-lg col-lg-offset-9" %></td>
            </tr>
          <% end %>
       </tbody>
      </table>
      <% end %>
      <%= render "admins/shared/links" %>
    </div>
  </div>
</div>
