<div class="container">
	<dev class="row">
		<div class="col-xs-10 col-xs-offset-1">
				<h2>注文履歴一覧</h2>
					<table class="table">
						<thead>
							<tr class="active">
								<th>注文日</th>
								<th>配送先</th>
								<th>注文商品</th>
								<th>支払金額</th>
								<th>ステータス</th>
								<th>注文詳細</th>
							</tr>
						</thead>
							<% @order_details.each do |order_detail| %>
							<tr>
								<td><%= order_detail.created_at.strftime('%Y/%m/%d') %></td>
								<td>
									<%= order_detail.shipping_postal_code %><br>
									<%= order_detail.shipping_address %><br>
									<%= order_detail.shipping_name %>
								</td>
								<td>
									<% order_detail.order_items.each do |order_product| %>
										<%= order_product.product.product_name %><br>
									<% end %>
								</td>
								<td><% order_detail.total_fee %>円</td>
									<% case order_detail.order_stauts %>
										<% when 'wait_deposit' %>
											<td>入金待ち</td>
										<% when 'payment_confirmation' %> 
											<td>入金確認</td>
									 	<% when 'inproduction' %>
											<td>制作中</td>
									 	<% when 'preparing_for_shipment' %>
											<td>発送準備中</td>
									 	<% when 'sent' %>
											<td>発送済み</td>
									<% end %>
								<td>
									<%= link_to customers_customer_order_item_path(current_customer.id,order_detail.id), class: "btn btn-success" do %>
										表示する
									<% end %></td>
							</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</dev>
</div>