<h1>商品編集画面</h1>
<%= form_for(@product, url: admins_product_path) do |f| %>
	<div>
		<%= attachment_image_tag @product, :product_image, :fill, 100, 100 %>
	</div>
	<div>
		<%= f.attachment_field :product_image %>
	</div>

	<div>
		<label>商品名</label>
		<%= f.text_field :product_name %>
	</div>

	<div>
		<label>商品説明</label>
		<%= f.text_area :product_description %>
	</div>

	<div>
		<label>ジャンル</label>
		<%= f.collection_select(:genre_id, Genre.all, :id, :genre_name) %>
	</div>

	<div>
		<label>税抜価格</label>
		<%= f.text_field :unit_price %>
		<span>円</span>
	</div>

	<div>
		<label>販売<br>
		ステータス</label>
		<%= f.select(:is_selling, [['販売中', true], ['売切', false]]) %>
	</div>

	<div>
		<%= f.submit "変更を保存" %>
	</div>
<% end %>