<h1>商品新規登録画面</h1>
<%= form_for(@product, url: admins_products_path) do |f| %>
	<div>
		<%= f.attachment_field :product_image %>
	</div>

	<div>
		<label>商品名</label>
		<%= f.text_field :product_name %>
	</div>

	<div>
		<label>商品説明</label>
		<%= f.text_area :product_description %>
	</div>

	<div>
		<label>ジャンル</label>
		<%= f.collection_select(:genre_id, @genre, :id, :genre_name) %>
	</div>

	<div>
		<label>税抜価格</label>
		<%= f.text_field :unit_price %>
		<span>円</span>
	</div>

	<div>
		<label>販売<br>
		ステータス</label>
		<%= f.select(:is_selling, [['販売中', true], ['売切', false]]) %>
	</div>

	<div>
		<%= f.submit "新規登録" %>
	</div>
<% end %>