<h2>商品新規登録画面</h2>
<div class="container">
	<div class="row">
		<%= form_for(@product, url: admins_products_path) do |f| %>
			<div class="col-lg-4">
				<%= f.attachment_field :product_image, class: 'btn btn-info btn-file btn-sm' %>
			</div>
			<div class="col-lg-6">
				<table class="table">
					<tbody>
						<tr>
							<td>商品名</td>
							<td><%= f.text_field :product_name, :size=>"43x2" %></td>
						</tr>
						<tr>
							<td>商品説明</td>
							<td><%= f.text_area :product_description, :size=>"43x8" %></td>
						</tr>
						<tr>
							<td>ジャンル</td>
							<td><%= f.collection_select(:genre_id, Genre.all, :id, :genre_name,:prompt => "選択してください") %></td>
						</tr>
						<tr>
							<td>税抜価格</td>
							<td><%= f.text_field :unit_price, :size=>"43x2" %><span>円</span></td>
						</tr>
						<tr>
							<td>販売<br>
							ステータス</td>
							<td><%= f.select(:is_selling, [['販売中', true], ['売切', false]],:prompt => "選択してください") %></td>
						</tr>
					</tbody>
				</table>

				<%= f.submit "新規登録", class: 'btn btn-info btn-lg' %>
			</div>
		<% end %>
	</div>
</div>