<div class="container">
	<div class="row">
		<div class="col-xs-9 ">
		<h1>注文履歴詳細</h1>
			<table class="table">
				<tr>
					<td>購入者</td>
					<td><%= @order_detail.customer.full_name%></td>
				</tr>
				<tr>
					<td>配送先</td>
					<td><%= @order_detail.shipping_address %><br>
						<%= @order_detail.shipping_name %></td>
				</tr>
				<tr>
					<td>支払い方法</td>
					<% case @order_detail.payment_method %>
						<% when "credit" %>
							<td>クレジットカード</td>
						<% when "bank_transfer" %>
							<td>銀行振込</td>
					<% end %>
				</tr>
				<tr>
					<td>注文ステータス</td>
					<%= form_for @order_detail, url:customers_customer_order_detail_path(@order_detail.id),data: {:turbolinks=> "false"},method: :patch do |f| %>
					<td><%= f.select :order_status, OrderDetail.order_statuses_i18n.keys.map { |k| [OrderDetail.order_statuses_i18n[k], k]} %>
					<%= f.submit "更新", class: "btn btn-primary",data: {:turbolinks=> "false"} %></td>
					<% end %>
				</tr>
			</table>

			<table class="table">
				<thead>
					<tr>
						<th>商品名</th>
						<th>単価</th>
						<th>数量</th>
						<th>小計</th>
						<th>制作ステータス</th>
					</tr>
				</thead>
				<tbody>
					<% @order_items.each do |order_item| %>
						<%= form_for order_item, url:admins_order_item_path(order_item.id),method: :patch do |f| %>
							<tr>
								<td><%= order_item.product.product_name %></td>
								<td><%= order_item.product.unit_price %></td>
								<td><%= order_item.number%></td>
								<td><%= order_item.purchase_price %></td>
								<td><%= f.select :creation_status, OrderItem.creation_statuses_i18n.keys.map { |k| [OrderItem.creation_statuses_i18n[k], k]} %>
								<%= f.submit "更新", class: "btn btn-primary",data: {:turbolinks=> "false"} %></td>
							</tr>
						<% end %>
					<% end %>
				</tbody>
			</table>
		</div>
		<div class="col-xs-3">
			<table class="table table-bordered">
				<tr>
					<th class="active">商品合計</th>
					<td><%= @order_detail.subtotal.to_s(:delimited) %>円</td>
				</tr>
				<tr>
					<th class="active">送料</th>
					<td><%= @order_detail.shipping_fee.to_s(:delimited) %>円</td>
				</tr>
				<tr>
					<th class="active">請求額合計</th>
					<td><%= @order_detail.total_fee.to_s(:delimited) %>円</td>
				</tr>
			</table>
		</div>
	</div>
</div>
