<!DOCTYPE html>
<html>
<head>
	<title>NaganoCakeShibuya</title>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
	<header class="navbar navbar-fixed-top">
		<div class="container">
			<nav class='nav navbar-nav navbar-left' >
				<%= image_tag('Nagano cake2.png') %>
			</nav>

			<nav>
				<ul class="nav navbar-nav navbar-right">
					<% if admin_signed_in? %>
						<li><%= link_to "会員一覧", admins_customers_path,:style=>"color:white;" %></li>
						<li><%= link_to "注文履歴一覧", admins_ordered_items_path,:style=>"color:white;" %></li>
						<li><%= link_to "ジャンル管理", admins_genres_path,:style=>"color:white;" %></li>
						<li><%= link_to "ログアウト", destroy_admin_session_path,:style=>"color:white;", method: :delete %></li>
					<% end %>
				</ul>
			</nav>
		</div>
	</header>
	<%= yield %>
</body>
</html>

