<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCakeShibuya</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>

    <%= link_to "ジャンル管理", admins_genres_path %>
    
    <%= yield %>
  </body>
</html>
