<!DOCTYPE html>
<html>
<head>
	<title>NaganoCakeShibuya</title>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
	<header class="navbar navbar-fixed-top">
		<div class="container">
			<nav class='nav navbar-nav navbar-left' >
				<%= image_tag('Nagano cake2.png') %>
			</nav>

			<nav>
				<ul class="nav navbar-nav navbar-right">
					<% if customer_signed_in? %>
						<li id = "welcome"><%="ようこそ#{current_customer.family_name}さん！"%></li>
						<li><%= link_to "マイページ", customers_customer_path(current_customer.id),:style=>"color:white;", class: 'glyphicon glyphicon-user'%></li>
						<li><%= link_to "商品一覧", products_path,:style=>"color:white;",class: "glyphicon glyphicon-gift" %></li>
						<li><%= link_to "カート", customers_customer_carts_path(current_customer.id),:style=>"color:white;",class: 'glyphicon glyphicon-shopping-cart' ,data: {:turbolinks => "false"} %></li>
						<li><%= link_to "ログアウト", destroy_customer_session_path,class: 'glyphicon glyphicon-log-out',:style=>"color:white;", method: :delete %></li>
					<% else %>
						<li><%= link_to "商品一覧", products_path,:style=>"color:white;",class: "glyphicon glyphicon-gift"  %></li>
						<li><%= link_to "新規登録", new_customer_registration_path,:style=>"color:white;",class: "glyphicon glyphicon-pencil"   %></li>
						<li><%= link_to "ログイン", new_customer_session_path,:style=>"color:white;",class: 'glyphicon glyphicon-log-in' %></li>
					<% end %>
				</ul>
			</nav>
		</div>
	</header>

	<% if flash[:notice] %>
  		<div class="alert alert-success">
    		<%= flash[:notice] %>
  		</div>
	<% end %>

	<% if flash[:alert] %>
  		<div class="alert alert-danger">
    		<%= flash[:alert] %>
  		</div>
	<% end %>

	<%= yield %>
</body>
</html>